

        body {
            color: #000000;
            background-color: #ffffff;
            font-family: 'Lato', sans-serif;
        }

        nav {
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
            width: 100vw;
            background-color: #ffffff;
            -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
            -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
            box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
            z-index: 999999;
        }

        .logo {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }

        .header-left {
            padding-left: 1rem;
        }

        .header-left .header-name {
            font-size: 1.7rem;
            font-weight: 900;
            color: #000000;
        }

        .header-right {
            padding-right: 1rem;
            color: #000000;
        }

        .header-right a {
            font-family: 'Lato', sans-serif;
            color: #000000;
        }

        .nav-cta {
            padding: 0.8rem;
        }

        .nav-cta:hover {
            padding: 0.8rem;
            color: gray;
        }

        .fold {
          /* margin-top: 10rem; */
            color: black;
            height: 40vh;
            /* padding-top: 2rem; */
            /* box-shadow : inset 0 0 10px #000000; */
            -webkit-box-shadow: inset 0 11px 24px 0 rgba(26, 26, 26, 0.5);
            -moz-box-shadow: inset 0 11px 24px 0 rgba(26, 26, 26, 0.5);
            box-shadow: inset 0 11px 24px 0 rgba(26, 26, 26, 0.5);
            display: flex;
            justify-content: center;
        }


/* dropdown ani */
        a {
            font-size: 1rem;
            color: #584E4A;
            position: relative;
            text-transform: uppercase;
            text-decoration: none;
            padding-bottom: 8px;
        }

        a:before,
        a:after {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: black;
        }

        a:before {
            opacity: 0;
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px);
            -webkit-transition: -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
        }

        a:after {
            opacity: 0;
            -webkit-transform: translateY(4px);
            -ms-transform: translateY(4px);
            transform: translateY(4px);
            -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
        }

        a:hover:before,
        a:hover:after,
        a:focus:before,
        a:focus:after {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

        a:hover:before,
        a:focus:before {
            -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
            transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
        }

        a:hover:after,
        a:focus:after {
            -webkit-transition: -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
            transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
        }



        .header-exp {
            color: black;
            padding-top: 5rem;
            display: flex;
            justify-content: center;
        }


        .grid {
          /* display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 100px 100px;
          grid-gap: 20px; */
          /* align-items: center; */
          display: flex;
          padding-top: 3rem;
          justify-content: space-around;

        }

        .flex {
          display: flex;
          justify-content: space-between;
        }


        .item {
          max-width: 250px;
          max-height: 250px;
        }


        .item:hover {
          /* opacity: .6; */
          -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
         filter: grayscale(100%);
         -webkit-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
         -moz-box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
         box-shadow: 0 11px 24px 0 rgba(26, 26, 26, 0.5);
         /* transition-timing-function: ease-in-out; */
        }
